/* Basic */
.white{
    color: #fdfdff;
}
/* Red */
.pink{
    background-color: pink;
}
.pink-1{
    color: #ff1f69;
}

.pink-2{
    color:#FF8FB4;
}
.pink-3{
    color:#e02961;
}

/* GREY */
.grey-1{
    color: #e5e5e5;
}
$body-bg:  white;
/* Header */
$head-bg : white;
$head-txt-color: #fc008e;
/* Navigation */
$nav-title-color: white;
$nav-link-color: white;


/* Background */
.purple-bg{
    background: #ac1886;
}
.red-bg{
    background-color: #e4136e;
}
.white-bg{
    background: white;
}
.lightgrey-bg{
    background: lightgray;
}

.border-bottom-red{
    border-bottom: 3px solid #e4136e;
}

.border-bottom-red2{
    border-bottom: 3px solid #ff63a2;
}
.border-bottom-red3{
    border-bottom: 3px solid #cb005b;
}
.border-bottom-green{
    border-bottom: 3px solid #67baa7;
}
.border-bottom-purple{
    border-bottom: 3px solid #8069be;
}
.border-bottom-pink{
    border-bottom: 3px solid #f69dfd;
}
.border-bottom-orange{
    border-bottom: 3px solid #ec0138;
}

.border-left-red{
    border-left: 3px solid #e4136e;
}
.border-left-red2{
    border-left: 3px solid #ff63a2;
}
.border-left-red3{
    border-left: 3px solid #cb005b;
}
.border-left-green{
    border-left: 3px solid #67baa7;
}
.border-left-purple{
    border-left: 3px solid #8069be;
}
.border-left-pink{
    border-left: 3px solid #f69dfd;
}
.border-left-orange{
    border-left: 3px solid #ec0138;
}