/* Basic */
.white{
    color: #fdfdff;
}
/* Red */
.pink{
    background-color: pink;
}
.pink-1{
    color: #ff1f69;
}


.pink-2{
    color:#FF8FB4;
}
.pink-3{
    color:#e02961;
}

/* GREY */
.grey-1{
    color: #e5e5e5;
}