*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

.container {
    margin: 0 auto;
    width: 80%;
}

nav {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 35, 104, 1);
    color: #fefefe;
    padding: 5px 0;
    position: relative;
}

nav div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

nav div h2 {
    color: white;
}

nav .drop-down {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(130, 15, 60, 1);
    width: 100%;
    transform-origin: 0 0;
    transform: scaleY(1);
    transition: transform 400ms linear;
}

nav .drop-down.close {
    transform: scaleY(0)
}

nav .drop-down ul {
    list-style: none;
}

nav .drop-down ul li {
    padding: 15px;
    margin: 1px 0;
    background-color: rgba(200, 30, 90, 1);
}

nav .drop-down ul li a {
    text-decoration: none;
    color: white;
}

/* Basic Section Styles */
section {
    background-color: #fefefe;
    color: #303030;
    padding: 40px 0;
}

section.dark {
    background-color: #303030;
    color: #fefefe;
}

section h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}


/* Hero Section */
.hero {
    height: calc(100vh - 50px);
    background-color: rgba(0, 0, 0, 0.3);
    
}

.hero img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment:fixed;
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.hero img {
    width: 50%;
    max-height: 50vh;
}

.hero div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction:column;
}        

.hero h1 {
    color: white;
    font-size: 40pt;
}

.hero h3 {
    color: white;
    font-size: 20pt;
}

/* Developer Section */
.developers {
    margin: 0 auto;
    width: 100%;
}
.developer {
    background-color: rgba(255, 35, 104, 1);
    padding: 10px;
    margin: 0 10px;
}

.developer img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}

.developer h3 {
    color: white;
}

.developer p {
    color: #aaa;
}

/* Footer Styles */
footer {
    line-height: 50px;
    font-style: italic;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
}
